* {margin:0; padding:0;}
body {font-size:12px; color:#222; font-family:Verdana,Arial,Helvetica,sans-serif; background:#f0f0f0;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom:1;}
ul,li {list-style:none;}
img {border:0;}


/* qqshop focus */
#focuss {width:1200px; height:160px; overflow:hidden; position:relative;left:-200px;}
#focuss ul {height:160px; position:absolute;}
#focuss ul li {float:left; width:1200px; height:160px; overflow:hidden; position:relative; background:#000;}
#focuss ul li div {position:absolute; overflow:hidden;}
/* #focuss .btnBg {position:absolute; width:800px; height:20px; left:0; bottom:0; background:#000;}*/
#focuss .btn {position:absolute; width:780px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focuss .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focuss .btn span.on {background:#fff;}
#focuss .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(img/sprite.png) no-repeat 0 0; cursor:pointer;}
#focuss .pre {left:0;}
#focuss .next {right:0; background-position:right top;}
