@CHARSET "UTF-8";
.u-4-5 {
	overflow: inherit
}
.help-detail-area .f b, .help-detail-area .f s, .help-navigation-tab-area .current s {
	background: transparent url(../Images/sprites12.png) scroll no-repeat
}
.help-menu-area h3, .part-area, .part-area b, .part-area s {
	background: transparent url(../Images/bg1.png) scroll no-repeat
}
.help-menu-area ol span, .help-faq-area dt, .help-map-area dt b, .faq-navigation-area .b li a {
	background: transparent url(../Images/icon1.png) scroll no-repeat
}
.button-style-5, .button-style-5 span, .button-qq-style-1, .button-qq-style-1 span, .button-qq-style-2, .button-qq-style-2 span {
	background: transparent url(../Images/btn10.png) scroll no-repeat
}
.help-detail-area .h h3 {
	background: transparent url(../Images/bg41.jpg) scroll no-repeat
}
.help-navigation-tab-area a, .faq-navigation-area .h ul li a, .faq-navigation-area .h ul li span {
	background: transparent url(../Images/sprites14.jpg) scroll no-repeat
}
.help-faq-area, .faq-navigation-area .b ol {
	background: transparent url(../Images/bg39.png) scroll no-repeat
}
.help-faq-area .h .more {
	background: transparent url(../Images/btn8.png) scroll no-repeat
}
.help-self-area li .s {
	background: transparent url(../Images/icon15.png) scroll no-repeat
}
.help-map-area dt {
	background: url(../Images/bg40.png) scroll no-repeat
}
.faq-navigation-area .h ul {
	background: transparent url(../Images/bg6.png) scroll no-repeat
}
.faq-navigation-area .h ol li.current s {
	background: transparent url(../Images/icon16.png) scroll no-repeat
}
.faq-area .h h3 {
	background: transparent url(../Images/bg42.png) scroll no-repeat
}
.call-center-area s {
	background: transparent url(../Images/icon18.png) scroll no-repeat
}
.button-style-5, .button-style-5 span, .button-qq-style-1, .button-qq-style-1 span, .button-qq-style-2, .button-qq-style-2 span {
	display: inline-block;
	cursor: pointer
}
.button-style-5:hover, .button-qq-style-1, .button-qq-style-2 {
	text-decoration: none
}
.button-style-5 {
	padding-left: 17px;
	background-position: left 0
}
.button-style-5:hover {
	background-position: left -86px
}
.button-style-5 span {
	height: 33px;
	line-height: 33px;
	color: #FFF;
	font-weight: 700;
	padding-right: 17px;
	background-position: right -43px
}
.button-style-5:hover span {
	background-position: right -129px
}
.button-qq-style-1 {
	padding-left: 28px;
	background-position: left -172px
}
.button-qq-style-2 {
	padding-left: 28px;
	background-position: left -238px
}
.button-qq-style-1 span, .button-qq-style-2 span {
	height: 23px;
	line-height: 23px;
	padding-right: 12px;
	background-position: right -205px
}
.column-area {
	border-top: 4px solid #B00;
	padding-top: 8px;
	height: 48px;
	margin-top: -2px
}
.help-menu-area {
	padding: 0 2px
}
.help-menu-area .b {
	box-shadow: 0 1px 2px rgba(0,0,0,0.16);
	border-radius: 2px;
	border: 1px solid #c0c0c0;
	border-top: 0 none
}
.help-menu-area h3 {
	height: 34px;
	line-height: 34px;
	color: #525151;
	font-size: 13px;
	font-weight: 700;
	padding-left: 26px;
	background-position: 0 -472px;
	background-repeat: repeat-x;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0
}
.help-menu-area ol {
	padding: 7px 0 14px;
	background-color: #f8f8f8
}
.help-menu-area ol li {
	height: 26px;
	padding: 4px 0
}
.help-menu-area ol a {
	display: block;
	padding: 5px 0 5px 27px;
	font-weight: 700;
	color: #6f6f6f;
	position: relative;
	_zoom: 1
}
.help-menu-area ol span {
	padding-left: 12px;
	background-position: -27px -280px;
	background-position: -27px -281px\9;
	background-position: -27px -280px\0/;
*background-position:-27px -282px
}
.help-menu-area .current a, .help-menu-area ol a:hover {
	text-decoration: none;
	color: #f96209
}
.help-menu-area .current span, .help-menu-area ol a:hover span {
	background-position: -42px -255px;
	background-position: -42px -256px\9;
	background-position: -42px -255px\0/;
*background-position:-42px -257px
}
.help-menu-area ol a:hover {
	background-color: #e9e9e9
}
.part-area {
	height: 41px;
	background-position: 0 -842px;
	background-repeat: repeat-x;
	position: relative
}
.part-area b, .part-area s {
	display: block;
	height: 41px;
	width: 3px;
	position: absolute;
	top: 0
}
.part-area b {
	background-position: 0 -791px;
	left: 0
}
.part-area s {
	background-position: 0 -893px;
	right: 0
}
.part-area h3 {
	line-height: 41px;
	padding-left: 26px;
	font-size: 14px;
	font-weight: 700
}
.help-detail-area {
	border: 1px solid #d0d0d0
}
.help-detail-area .h {
	padding: 24px 0;
	border-bottom: 1px dashed #c5c5c5;
	margin: 0 26px
}
.help-detail-area .h h3 {
	background-color: #9e9e9e;
	background-repeat: repeat-y;
	background-position: right 0;
	display: inline-block;
*display:inline;
*zoom:1;
	padding: 3px 258px 1px 9px;
	font-size: 14px;
	color: #FFF;
	font-weight: 700
}
.help-detail-area .b {
	padding: 11px 22px 28px;
	min-height: 100px;
	_height: 100px;
	margin: 0 26px;
	position: relative;
	z-index: 2
}
.help-detail-area .f {
	position: relative;
	height: 0;
	font-size: 0;
	line-height: 0
}
.help-detail-area .f b, .help-detail-area .f s {
	position: absolute;
	bottom: -10px;
	display: block;
	width: 299px;
	height: 114px
}
.help-detail-area .f b {
	background-position: 0 0;
	left: -6px
}
.help-detail-area .f s {
	background-position: 0 -124px;
	right: -8px
}
.help-detail-area .b {
	color: #666;
	line-height: 18px
}
.help-detail-area .b h4 {
	color: #ff821d;
	font-size: 14px;
	font-weight: 700
}
.help-detail-area .b a {
	color: #0077d2
}
.help-detail-area .b p, .help-detail-area .b ul, .help-detail-area .b h4 {
	padding-bottom: 19px
}
.help-navigation-area {
	border: 1px solid #d0d0d0
}
.help-navigation-tab-area {
	border-bottom: 1px solid #d0d0d0
}
.help-navigation-tab-area li {
	float: left;
	position: relative
}
.help-navigation-tab-area a {
	display: block;
	height: 96px;
	overflow: hidden;
	text-indent: -9990px
}
.help-navigation-tab-area .n1 {
	width: 332px;
	border-right: 1px solid #d0d0d0;
	background-position: 0 0
}
.help-navigation-tab-area .n2 {
	width: 334px;
	border-right: 1px solid #d0d0d0;
	background-position: -342px 0
}
.help-navigation-tab-area .n3 {
	width: 332px;
	background-position: -686px 0
}
.help-navigation-tab-area .n1:hover, .help-navigation-tab-area .current .n1 {
	background-position: 0 -106px
}
.help-navigation-tab-area .n2:hover, .help-navigation-tab-area .current .n2 {
	background-position: -342px -106px
}
.help-navigation-tab-area .n3:hover, .help-navigation-tab-area .current .n3 {
	background-position: -686px -106px
}
.help-navigation-tab-area .current s {
	position: absolute;
	width: 19px;
	height: 8px;
	background-position: 0 -248px;
	left: 50%;
	margin-left: -9px;
	top: 96px
}
.help-faq-area {
	padding-bottom: 5px;
	margin: 27px 0;
	background-repeat: repeat-y;
	background-position: center 0
}
.help-faq-area .fl, .help-faq-area .fr {
	width: 50%
}
.help-faq-area .h, .help-faq-area .b {
	margin: 0 23px 0 45px
}
.help-faq-area .h {
	padding: 26px 12px 11px 0
}
.help-faq-area .h h3 {
	line-height: 1.2;
	font-size: 16px;
	color: #fe860f;
	font-weight: 700;
	border-left: 3px solid #fe860f;
	padding-left: 5px;
	float: left
}
.help-faq-area .h .more {
	display: block;
	width: 55px;
	height: 18px;
	line-height: 18px;
	background-position: 0 0;
	text-align: center;
	color: #FFF;
	font-weight: 700;
	font-size: 13px;
	float: right
}
.help-faq-area .h .more:hover {
	text-decoration: none
}
.help-faq-area .b {
	color: #666
}
.help-faq-area dt {
	padding: 0 0 4px 10px;
	font-size: 14px;
	cursor: pointer;
	background-position: -90px -585px
}
.help-faq-area dd {
	background-color: #fffeca;
	line-height: 21px;
	padding: 10px 10px 6px;
	display: none;
	margin: 4px 0 10px
}
.help-faq-area dd p {
	text-indent: 25px
}
.help-faq-area dd ul {
	padding-left: 25px
}
.help-faq-area .current dt {
	font-weight: 700
}
.help-faq-area .current dd {
	display: block
}
.help-faq-area dd a {
	color: #0077d2
}
.help-faq-area dd p.more {
	text-align: right
}
.help-faq-area dd p.more a {
	text-decoration: underline
}
.help-self-area {
	padding: 14px 0 15px 20px
}
.help-self-area li {
	float: left;
	text-align: center;
	position: relative;
	padding: 10px 15px
}
.help-self-area li a {
	font-family: \5FAE\8F6F\96C5\9ED1;
	color: #666
}
.help-self-area li .s {
	display: block;
	width: 208px;
	height: 163px;
	border: 1px solid #f0f0f0;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	line-height: 224px;
	background-color: #f0f0f0
}
.help-self-area li .s:hover, .help-self-area li:hover .s {
	border-color: #c4c4c4;
	text-decoration: none;
	font-weight: 700
}
.help-self-area li .s1 {
	background-position: 66px 51px
}
.help-self-area li .s2 {
	background-position: -142px 51px
}
.help-self-area li .s3 {
	background-position: -350px 51px
}
.help-self-area li .s4 {
	background-position: -558px 51px
}
.help-self-area li .s5 {
	background-position: 66px -275px
}
.help-self-area li .s6 {
	background-position: -142px -275px
}
.help-self-area li .s7 {
	background-position: -350px -275px
}
.help-self-area li .s8 {
	background-position: -558px -275px
}
.help-self-area li .s1:hover, .help-self-area li:hover .s1 {
	background-position: 66px -112px
}
.help-self-area li .s2:hover, .help-self-area li:hover .s2 {
	background-position: -142px -112px
}
.help-self-area li .s3:hover, .help-self-area li:hover .s3 {
	background-position: -350px -112px
}
.help-self-area li .s4:hover, .help-self-area li:hover .s4 {
	background-position: -558px -112px
}
.help-self-area li .s5:hover, .help-self-area li:hover .s5 {
	background-position: 66px -438px
}
.help-self-area li .s6:hover, .help-self-area li:hover .s6 {
	background-position: -142px -438px
}
.help-self-area li .s7:hover, .help-self-area li:hover .s7 {
	background-position: -350px -438px
}
.help-self-area li .s8:hover, .help-self-area li:hover .s8 {
	background-position: -558px -438px
}
.help-self-area li p {
	position: absolute;
	bottom: 0;
	width: 208px;
	text-align: center;
	top: 140px
}
.help-self-area li p a {
	margin: 0 4px
}
.help-map-area {
	font-size: 14px;
	padding: 45px 50px;
	line-height: 36px
}
.help-map-area dt {
	float: left;
	width: 130px;
	color: #666;
	background-repeat: repeat-x;
	background-position: 0 center
}
.help-map-area dt b {
	display: block;
	width: 89px;
	background-color: #FFF;
	background-position: -75px -602px;
	text-indent: 16px
}
.help-map-area dd {
	margin-left: 144px;
	_zoom: 1
}
.help-map-area li {
	display: inline-block;
*display:inline;
*zoom:1;
	width: 140px
}
.help-map-area a {
	color: #666
}
.help-map-area a:hover {
	color: #f96209
}
.faq-navigation-area .h li, .faq-navigation-area .h a, .faq-navigation-area .h a span {
	float: left
}
.faq-navigation-area .h ul {
	position: relative;
	background-repeat: repeat-x;
	background-position: 0 33px
}
.faq-navigation-area .h ul li {
	margin-right: 6px;
	border: 1px solid #d0d0d0;
	border-bottom: 0 none;
	line-height: 32px;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 15px
}
.faq-navigation-area .h ul li a {
	padding-left: 30px;
	background-position: -896px -212px;
	color: #666;
	border-bottom: 1px solid #DDD
}
.faq-navigation-area .h ul li span {
	padding-right: 30px;
	background-position: right -212px
}
.faq-navigation-area .h ul li a:hover, .faq-navigation-area .h ul li a:hover span, .faq-navigation-area .h ul li.current a, .faq-navigation-area .h ul li.current a span {
	text-decoration: none;
	color: #333;
	font-weight: 700;
	background: #FFF
}
.faq-navigation-area .h ul li.current a {
	border-bottom-color: #FFF
}
.faq-navigation-area .h ol {
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	padding: 24px 13px 0
}
.faq-navigation-area .h ol li {
	padding: 0 18px;
	position: relative
}
.faq-navigation-area .h ol li a {
	padding: 0 13px;
	line-height: 22px;
	font-weight: 700;
	color: #666
}
.faq-navigation-area .h ol li.current a, .faq-navigation-area .h ol li a:hover {
	background-color: #e4e4e4;
	color: #333;
	text-decoration: none
}
.faq-navigation-area .h ol li.current s {
	background-position: 0 0;
	position: absolute;
	width: 8px;
	height: 5px;
	font-size: 0;
	line-height: 1px;
	top: 22px;
	left: 50%;
	margin-left: -4px
}
.faq-navigation-area .b {
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	padding: 26px 0 15px
}
.faq-navigation-area .b ol {
	background-repeat: repeat-y;
	background-position: center 0
}
.faq-navigation-area .b li {
	float: left;
	width: 410px;
	line-height: 21px;
	height: 21px;
	padding: 0 45px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word
}
.faq-navigation-area .b li a {
	display: inline-block;
*display:inline;
*zoom:1;
	font-family: Tahoma;
	background-position: -75px -609px;
	padding-left: 9px;
	color: #666
}
.faq-navigation-area .f {
	border: 1px solid #d0d0d0;
	border-top: 0 none;
	padding: 0 0 18px 40px
}
.pager-2 {
	overflow: hidden;
	_zoom: 1
}
.pager-2 img, .pager-2 input, .pager-2 span, .pager-2 select {
	vertical-align: middle
}
.pager-2 ul li.pgNext, .pager-2 .pageSizer span {
	font-family: tahoma
}
.pager-2 ul {
	font-size: 10px;
	overflow: hidden;
	text-transform: uppercase
}
.pager-2 ul li {
	float: left;
	height: 14px;
	line-height: 1.2;
	font-size: 12px;
	text-decoration: none
}
.pager-2 ul li.link {
	cursor: pointer;
	color: #646464;
	padding: 0 4px;
	margin: 0 6px 0 0
}
.pager-2 ul li.page-number:hover, .pager-2 ul li.pgCurrent {
	background-color: #ff821d;
	color: #FFF;
	border-radius: 7px 7px 7px 7px
}
.pager-2 ul li.text {
	border: medium none;
	clear: right;
	padding: 0;
	color: #646464;
	margin: 0 6px 0 0
}
.pager-2 ul li.pre:hover, .pager-2 ul li.next:hover {
	font-weight: 700
}
.pager-2 ul li.quickPager, .pager-2 ul li.first, .pager-2 ul li.last {
	display: none
}
.pager-2 ul li.pre-empty:hover, .pager-2 ul li.next-empty:hover {
	font-weight: 400
}
.pager-2 ul li.pre-empty, .pager-2 ul li.next-empty, .pager-2 ul li.pre-empty:hover, .pager-2 ul li.next-empty:hover {
	cursor: default
}
.faq-list {
	border: 1px solid #d0d0d0;
	padding: 24px 36px 0
}
.faq-list .faq-area {
	margin-bottom: 32px
}
.faq-list .current {
	background-color: #ececec
}
.faq-area .h {
	padding-bottom: 24px;
	border-bottom: 1px dashed #c5c5c5
}
.faq-area .h h3 {
	background-repeat: repeat-y;
	background-position: right 0;
	display: inline-block;
*display:inline;
*zoom:1;
	padding: 3px 258px 1px 9px;
	font-size: 14px;
	color: #FFF;
	font-weight: 700
}
.faq-area .b {
	padding: 11px 19px 0;
	color: #666;
	line-height: 18px;
	zoom: 1
}
.faq-area .b:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden
}
.faq-area .b b {
	color: #333
}
.faq-area .b a {
	color: #0077d2
}
.faq-area .b p, .faq-area .b ul {
	padding-bottom: 19px
}
.call-center-area {
	border: 1px solid #d0d0d0;
	padding: 24px 34px
}
.call-center-area table {
	width: 100%;
	border: 1px solid #FFF;
	border-collapse: collapse
}
.call-center-area td {
	border: 1px dashed #c5c5c5;
	height: 117px;
	vertical-align: top;
	padding: 9px 0 0 144px
}
.call-center-area div {
	font-size: 14px;
	position: relative
}
.call-center-area div.c3, .call-center-area div.c4 {
	margin-top: 39px
}
.call-center-area h3 {
	font-weight: 700;
	padding-bottom: 9px
}
.call-center-area h3 em, .call-center-area h3 a {
	font-weight: 400;
	font-family: \5FAE\8F6F\96C5\9ED1
}
.call-center-area p {
	color: #666;
	font-size: 14px;
	padding-bottom: 5px
}
.call-center-area .tips {
	color: #999;
	font-size: 12px
}
.call-center-area p a {
	margin: 9px 20px 0 0;
	font-size: 12px
}
.call-center-area s {
	position: absolute;
	width: 46px;
	height: 51px;
	left: -62px;
	top: -8px
}
.call-center-area .c1 s {
	background-position: 0 0
}
.call-center-area .c2 s {
	background-position: 0 -55px
}
.call-center-area .c3 s {
	background-position: 0 -112px
}
.call-center-area .c4 s {
	background-position: 0 -166px
}
